<div class="modal-name modal-name-animation"></div>
<div class="modal-window hidden">
  <div class="modal-list">
    <div class="modal-heal">
      <button type="button" class="modal-heal-img"></button>
      <p>Лечиться</p>
    </div>
    <div class="modal-attack">
      <button type="button" class="modal-attack-img"></button>
      <p>Атаковать</p>
    </div> 
  </div>
  <div class="modal-settings">
    <button type="button" class="modal-audio" title="Отключить звук" tabindex="1"></button>
     <button type="button" class="modal-cancel" title="Закрыть окно" tabindex="1"></button>
     <button type="button" class="modal-exit" title="Выйти из игры" tabindex="1"></button>
  </div>
  <div class="modal-spells-list hidden">
    <div class="modal-spell-laser">
      <button type="button" class="modal-spell-laser-img"></button>
      <p class="spell-name">Испепеляющий лазер</p>
      <p class="spell-damage">Урон: 15-25%</p>
    </div>
    <div class="modal-spell-cloud">
      <button type="button" class="modal-spell-cloud-img"></button>
      <p class="spell-name">Ядовитое облако</p>
      <p class="spell-damage">Урон: 20-30%</p>
    </div>
    <div class="modal-spell-comet">
      <button type="button" class="modal-spell-comet-img"></button>
      <p class="spell-name">Пылающая комета</p>
      <p class="spell-damage">Урон: 25-35%</p>
    </div>
    <div class="modal-spell-mystery">
      <button type="button" class="modal-spell-mystery-img"></button>
      <p class="spell-name">Мистический удар</p>
      <p class="spell-damage">Урон: 30-40%</p>
    </div>  
  </div>
</div>