@font-face {
  font-family: "Alice";
  src: url("../fonts/alice-regular-webfont.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Bonzai";
  src: url("../fonts/bonzai.ttf");
  font-weight: 500;
  font-style: normal;
}