@import '../../../../sass/variables';

.task-button-fields > button.correct {
  background-color: $green;
}

.task-button-fields > button.mistake {
  background-color: $red;
}

.task-button-fields > button {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: 0 40px;
  font-size: 60px;
  cursor: pointer;
  background-color: $pink;
  border-radius: 10px;
  @extend .transition;
}

.available > button {
  @extend .transition;
  
  &:hover, &:focus {
    background: $yellow;
  }
}

.button-field-choose-word button {
  min-width: 250px;
  word-wrap: break-word;
  overflow: hidden;
  padding: 20px;
  margin: 0 20px;
  font-size: 35px;
}
